{% extends 'navbar.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Optimisez la Gestion de Votre Laboratoire de Recherche</h1>
          <h2>Notre équipe vous offre des solutions avancées pour la gestion des activités de votre laboratoire, incluant le suivi des chercheurs, la gestion des projets de recherche, la publication scientifique et la gestion des équipements de laboratoire</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/laboratory.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
  

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Conçu pour répondre aux besoins spécifiques de votre laboratoire, notre plateforme offre une solution complète pour la gestion des chercheurs, des projets de recherche, des publications scientifiques, et de l'inventaire des équipements du laboratoire.


            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Gérez efficacement les profils des chercheurs</li>
              <li><i class="ri-check-double-line"></i> Suivez l'avancement des projets de recherche</li>
              <li><i class="ri-check-double-line"></i> Publiez et partagez vos travaux scientifiques</li>
                            <li><i class="ri-check-double-line"></i> Gardez une trace précise des équipements du laboratoire</li>

            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Notre approche unique se distingue par une interface conviviale qui simplifie la navigation et favorise une utilisation intuitive. Vous pouvez gérer efficacement les profils des chercheurs, suivre de près l'avancement des projets de recherche, publier et partager vos travaux scientifiques en toute facilité, tout en maintenant une trace précise de l'inventaire des équipements du laboratoire.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
  {% include 'footer.html.twig' %}

{% endblock %}
 