{% extends 'navbar.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
  <h1>Your Profile</h1>
        <p>Nom: {{ user.nom }}</p>
        <p>Email: {{ user.email }}</p>
          {% if app.user == user or 'admin' in app.user.getRoles() %}
        <form method="POST" action="{{ path('user_delete') }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
            <button class="btn btn-danger">Delete Account</button>
        </form>
    {% endif %}
        <h2>Informations des projets</h2>
        <!-- Project information will go here -->
        <h2>Publications associées</h2>
        <!-- Associated publications will go here -->

{% include 'footer.html.twig' %}

{% endblock %}
