
{% extends 'navbar.html.twig' %}

{% block body %}
    <h1>New Publication</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Publish</button>
    {{ form_end(form) }}
  {% include 'footer.html.twig' %}



{% endblock %}
